{if !$sent}
        <div class="contact-page">
            <div class="contact">
                <div class="mb-3 row">
                    <div class="left">
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <input type="text" id="ins_1" placeholder="Summary" name="ins_1" value="" class="form-control">
                        </div>
                    </div>
                    <div class="middle">
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <input type="text" id="in_2" placeholder="Name" name="ins_2" value="" class="form-control">
                        </div>
                    </div>
                    <div class="right">
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <input type="email" id="ins_3" placeholder="Email" name="ins_3" value="" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <textarea rows="20" name="ins-4" id="" placeholder="Message" class="form-control" _simple='y' _toolbars='n'></textarea>
                    </div>
                </div>
                <div class="mb-3 text-center">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <input type="submit" class="submit btn btn-primary btn-sm" role="button" name="action0" value="Send" onclick="needToConfirm=false">
                    </div>
                </div>
            </div>
        </div>
{/if}
